<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="head">
                <div class="logo">
                    <img class="" src="~/Images/Logo/logo.png" alt="Logo" />
                </div>
                <div class="brand">
                    <a class="navbar-brand" href="#">Mynt</a>
                </div>
            </div>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>@Html.ActionLink("Dashboard", "Index", "Home")</li>
                <li>@Html.ActionLink("Dashboard", "Index", "Home")</li>
            </ul>

            @*<ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Dashboard", "Index", "Home")</li>
            </ul>*@
        </div>
    </div>
</div>