<!-- Fixed navbar -->
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            @Html.ActionLink("", "Dashboard", "Mynt", null, new { @class = "logo" })
            @Html.ActionLink("Mynt", "Dashboard", "Mynt", null, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        @Html.ActionLink("Dashboard", "Dashboard", "Mynt", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Log", "Log", "Mynt", null, new { @class = "nav-link" })
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</header>

