@using Mynt.Presentation.Helpers.DisplayHelpers

@{
    ViewBag.Title = "Mynt - Dashboard";
    Layout = IsAjax ? null : "~/Views/Shared/Layouts/_Layout.cshtml";
}
@DisplayHelper.Log()


<div class="row">
    <div class="col-md-4">
        <h2>Test</h2>
        <p>
            test
        </p>
    </div>
    <div class="col-md-4">
        <h2>Test</h2>
        <p>
            test
        </p>
    </div>
    <div class="col-md-4">
        <h2>Test</h2>
        <p>
            test
        </p>
    </div>
</div>